body {
  margin: 0;
}
 a {
   color:black;
   text-decoration: 1px;
 }
 .saw {
   color:gray;
 }
 #active {
   color:red;
 }
 h1 {
   text-align: center;
   border-bottom: 1px solid gray;
   font-size:40px
   margin:0;
   margin: 0;
   padding: 20px;
  }
  ol {
    border-right:1px solid gray;
    width:100px;
    margin: 0;
    padding: 20px;
  }
  #grid{
    display: grid;
    grid-template-columns: 150px 1fr;
  }
  #grid  ol{
      padding-left:33px;
    }
    #article{
      padding-left: 13px;
    }
    #망해라{
      font-size: 100px
    }
    @media(max-width:510px){
      #grid{
        display: block;
      }
      ol {
        border-right:none;
      }
      h1 {
      border-bottom: 4px solid #BC8F8F;
    }

    }
